
body {
    margin-left: 30px;

}

header{
    background-color: black;
    height: 100px;
    padding-top: 20px;
    padding-left: 5px;
}

h1{
    text-align: left;
    color: rgb(247, 245, 244);
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

button {
    border-radius: 5px;
    border-color: gray;
    margin-bottom: 15px;
    width:35%;
    height: 40px;
    text-align: center;   
}

img {
    height: 175px;
    width: 250px;
    border-radius: 5px;
}

span {
    text-align: right;
}

.row{
    text-align: left;
    width:95%;
}

.column {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) ;
    border-radius: 5px;
    float:left;
    width: 95.5%;
    padding: 15px;
    margin-top: 20px;
    text-align: left;   
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 30px;
    margin-right: 30px;
    width: 29%;
    height: 225px;
    float: left;
    text-align: left;
}

.container {
    border-radius: 5px;
    float: left;
    width: 30%;
    text-align: center;
}






